body {
    background-image: url(./bakgrunnsbilde1.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0px;
    margin: 0px;
}
#pickItem {
    position: fixed;
    top: 60%;
    left: 70%;
    display: grid;
    gap: 10px;
    height: auto;
}

button:hover {
    color: rgb(130, 130, 130);
}

button {
    color:darkgray;
    background: url('https://github.com/pg8wood/OSRS-touch-bar/blob/master/OSRS-touch-bar/Supporting%20Files/Assets.xcassets/Button_Background.imageset/658_0.png?raw=true') no-repeat top left;
    cursor: pointer;
    border-radius: 5px;
    font-size: 15px;
    margin: 4px 2px;
    padding: 10px;
    border: none;
    position: absolute;
    right: 6%;
    bottom: 40%;
}

input {
    color: rgb(39, 39, 39);
    padding-right: 20%;
    text-align: center;
    border-style: solid;
    margin-bottom: -0%;
}
#inventorySpace {
    position: absolute;
    bottom: 0px;
    right: 0px;
}

#Inventory{
    position: fixed;
    top: 70%;
    left: 86%;
    display: grid;
    grid-template-columns: repeat(3,40px);
    gap: 10px;
    
}

.item {
    object-fit: fill;
    cursor: pointer;
    border-color: black;
    border-style: double;
    width: 200px;
}

/*img {
    width: 100px;

}*/